# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env

# VS Code
.vscode/
*.code-workspace

# macOS / Windows Cache
.DS_Store
Thumbs.db

# Logs
*.log

# SQLite / Local DBs
*.sqlite3

# Test / Coverage
htmlcov/
.tox/
.nox/
.coverage
.pytest_cache/
