--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5 (Debian 17.5-1.pgdg120+1)
-- Dumped by pg_dump version 17.5 (Debian 17.5-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO appuser;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO appuser;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO appuser;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO appuser;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO appuser;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO appuser;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO appuser;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO appuser;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO appuser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO appuser;

--
-- Name: inventory_bin; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.inventory_bin (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    location_id bigint NOT NULL
);


ALTER TABLE public.inventory_bin OWNER TO appuser;

--
-- Name: inventory_bin_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public.inventory_bin ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_bin_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_inventory; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.inventory_inventory (
    id bigint NOT NULL,
    qty numeric(18,3) NOT NULL,
    bin_id bigint NOT NULL,
    item_id bigint NOT NULL
);


ALTER TABLE public.inventory_inventory OWNER TO appuser;

--
-- Name: inventory_inventory_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public.inventory_inventory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_inventory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_item; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.inventory_item (
    id bigint NOT NULL,
    sku character varying(100) NOT NULL,
    name character varying(200) NOT NULL,
    description text NOT NULL,
    uom character varying(20) NOT NULL,
    active boolean NOT NULL
);


ALTER TABLE public.inventory_item OWNER TO appuser;

--
-- Name: inventory_item_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public.inventory_item ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_itemalias; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.inventory_itemalias (
    id bigint NOT NULL,
    alias character varying(200) NOT NULL,
    item_id bigint NOT NULL
);


ALTER TABLE public.inventory_itemalias OWNER TO appuser;

--
-- Name: inventory_itemalias_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public.inventory_itemalias ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_itemalias_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_location; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.inventory_location (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.inventory_location OWNER TO appuser;

--
-- Name: inventory_location_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public.inventory_location ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_location_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_reorderpolicy; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.inventory_reorderpolicy (
    id bigint NOT NULL,
    min_qty numeric(18,3) NOT NULL,
    reorder_point numeric(18,3) NOT NULL,
    reorder_qty numeric(18,3) NOT NULL,
    item_id bigint NOT NULL,
    location_id bigint
);


ALTER TABLE public.inventory_reorderpolicy OWNER TO appuser;

--
-- Name: inventory_reorderpolicy_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public.inventory_reorderpolicy ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_reorderpolicy_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_stockledger; Type: TABLE; Schema: public; Owner: appuser
--

CREATE TABLE public.inventory_stockledger (
    id bigint NOT NULL,
    ts timestamp with time zone NOT NULL,
    qty numeric(18,3) NOT NULL,
    ref_type character varying(50) NOT NULL,
    ref_id character varying(100) NOT NULL,
    from_bin_id bigint,
    item_id bigint NOT NULL,
    to_bin_id bigint
);


ALTER TABLE public.inventory_stockledger OWNER TO appuser;

--
-- Name: inventory_stockledger_id_seq; Type: SEQUENCE; Schema: public; Owner: appuser
--

ALTER TABLE public.inventory_stockledger ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_stockledger_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$1000000$79MhOhcaLUN2Xaq4gRHEeg$/yKH6dxYhSzjMPnufh2qNhEIkSsCG+TpYU5o+P7bCiQ=	2025-08-12 09:35:31.22447+00	t	warehouse				t	t	2025-08-11 11:59:45.451069+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2025-08-12 14:20:32.222452+00	3	Inventory object (3)	2	[{"changed": {"fields": ["Qty"]}}]	11	1
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	inventory	item
8	inventory	location
9	inventory	bin
10	inventory	stockledger
11	inventory	inventory
12	inventory	reorderpolicy
13	inventory	itemalias
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: appuser
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
xic9w73t5rldnyh4el61i2r4zq3e0o2o	.eJxVjEEOwiAQRe_C2hBhgIJL9z0DGWZAqoYmpV0Z765NutDtf-_9l4i4rTVuPS9xYnERSpx-t4T0yG0HfMd2myXNbV2mJHdFHrTLceb8vB7u30HFXr91IIvsnCnOG2-paFKJisVClowKYF3CQGk4gwc1BMO-6AQEWnlgp4p4fwDwUTfe:1ullPn:SWBxsVcf_Y1HTsD7oZuKbqZj__u4QGmYNMN3YX5wOe4	2025-08-26 09:35:31.231126+00
\.


--
-- Data for Name: inventory_bin; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.inventory_bin (id, code, location_id) FROM stdin;
1	A-01-01	1
2	A-01-02	1
3	A-02-01	1
\.


--
-- Data for Name: inventory_inventory; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.inventory_inventory (id, qty, bin_id, item_id) FROM stdin;
2	25.000	2	1
1	170.000	1	1
3	50.000	3	2
\.


--
-- Data for Name: inventory_item; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.inventory_item (id, sku, name, description, uom, active) FROM stdin;
1	M4-12	Schraube M4x12		pcs	t
2	ABC-100	Testschraube	Nur ein Test	pcs	t
\.


--
-- Data for Name: inventory_itemalias; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.inventory_itemalias (id, alias, item_id) FROM stdin;
\.


--
-- Data for Name: inventory_location; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.inventory_location (id, code, name) FROM stdin;
1	MAIN	Hauptlager
\.


--
-- Data for Name: inventory_reorderpolicy; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.inventory_reorderpolicy (id, min_qty, reorder_point, reorder_qty, item_id, location_id) FROM stdin;
1	0.000	100.000	200.000	1	1
\.


--
-- Data for Name: inventory_stockledger; Type: TABLE DATA; Schema: public; Owner: appuser
--

COPY public.inventory_stockledger (id, ts, qty, ref_type, ref_id, from_bin_id, item_id, to_bin_id) FROM stdin;
1	2025-08-11 13:32:43.283431+00	50.000	PO_RECEIPT	PO-TEST	\N	1	1
2	2025-08-11 13:36:46.10088+00	20.000	MOVE	MOVE-TEST	1	1	2
3	2025-08-11 18:04:08.779379+00	10.000	MOVE	MOVE-42	2	1	1
4	2025-08-12 11:06:37.687316+00	25.000	PO_RECEIPT	PO-99	\N	1	2
5	2025-08-12 11:06:52.469303+00	10.000	MOVE	MOVE-42	2	1	1
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 52, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 13, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 20, true);


--
-- Name: inventory_bin_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.inventory_bin_id_seq', 3, true);


--
-- Name: inventory_inventory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.inventory_inventory_id_seq', 3, true);


--
-- Name: inventory_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.inventory_item_id_seq', 2, true);


--
-- Name: inventory_itemalias_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.inventory_itemalias_id_seq', 1, false);


--
-- Name: inventory_location_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.inventory_location_id_seq', 1, true);


--
-- Name: inventory_reorderpolicy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.inventory_reorderpolicy_id_seq', 1, true);


--
-- Name: inventory_stockledger_id_seq; Type: SEQUENCE SET; Schema: public; Owner: appuser
--

SELECT pg_catalog.setval('public.inventory_stockledger_id_seq', 5, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: inventory_bin inventory_bin_location_id_code_e74d69b1_uniq; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_bin
    ADD CONSTRAINT inventory_bin_location_id_code_e74d69b1_uniq UNIQUE (location_id, code);


--
-- Name: inventory_bin inventory_bin_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_bin
    ADD CONSTRAINT inventory_bin_pkey PRIMARY KEY (id);


--
-- Name: inventory_inventory inventory_inventory_item_id_bin_id_9c3d9051_uniq; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_inventory
    ADD CONSTRAINT inventory_inventory_item_id_bin_id_9c3d9051_uniq UNIQUE (item_id, bin_id);


--
-- Name: inventory_inventory inventory_inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_inventory
    ADD CONSTRAINT inventory_inventory_pkey PRIMARY KEY (id);


--
-- Name: inventory_item inventory_item_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_item
    ADD CONSTRAINT inventory_item_pkey PRIMARY KEY (id);


--
-- Name: inventory_item inventory_item_sku_key; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_item
    ADD CONSTRAINT inventory_item_sku_key UNIQUE (sku);


--
-- Name: inventory_itemalias inventory_itemalias_item_id_alias_c651b925_uniq; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_itemalias
    ADD CONSTRAINT inventory_itemalias_item_id_alias_c651b925_uniq UNIQUE (item_id, alias);


--
-- Name: inventory_itemalias inventory_itemalias_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_itemalias
    ADD CONSTRAINT inventory_itemalias_pkey PRIMARY KEY (id);


--
-- Name: inventory_location inventory_location_code_key; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_location
    ADD CONSTRAINT inventory_location_code_key UNIQUE (code);


--
-- Name: inventory_location inventory_location_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_location
    ADD CONSTRAINT inventory_location_pkey PRIMARY KEY (id);


--
-- Name: inventory_reorderpolicy inventory_reorderpolicy_item_id_location_id_ddfe84a3_uniq; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_reorderpolicy
    ADD CONSTRAINT inventory_reorderpolicy_item_id_location_id_ddfe84a3_uniq UNIQUE (item_id, location_id);


--
-- Name: inventory_reorderpolicy inventory_reorderpolicy_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_reorderpolicy
    ADD CONSTRAINT inventory_reorderpolicy_pkey PRIMARY KEY (id);


--
-- Name: inventory_stockledger inventory_stockledger_pkey; Type: CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_stockledger
    ADD CONSTRAINT inventory_stockledger_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: inventory_bin_location_id_2921852b; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX inventory_bin_location_id_2921852b ON public.inventory_bin USING btree (location_id);


--
-- Name: inventory_inventory_bin_id_f78d7256; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX inventory_inventory_bin_id_f78d7256 ON public.inventory_inventory USING btree (bin_id);


--
-- Name: inventory_inventory_item_id_c77b66a4; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX inventory_inventory_item_id_c77b66a4 ON public.inventory_inventory USING btree (item_id);


--
-- Name: inventory_item_sku_22a976e1_like; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX inventory_item_sku_22a976e1_like ON public.inventory_item USING btree (sku varchar_pattern_ops);


--
-- Name: inventory_itemalias_item_id_59d6fbfb; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX inventory_itemalias_item_id_59d6fbfb ON public.inventory_itemalias USING btree (item_id);


--
-- Name: inventory_location_code_8bf97d37_like; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX inventory_location_code_8bf97d37_like ON public.inventory_location USING btree (code varchar_pattern_ops);


--
-- Name: inventory_reorderpolicy_item_id_820cc133; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX inventory_reorderpolicy_item_id_820cc133 ON public.inventory_reorderpolicy USING btree (item_id);


--
-- Name: inventory_reorderpolicy_location_id_a031a229; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX inventory_reorderpolicy_location_id_a031a229 ON public.inventory_reorderpolicy USING btree (location_id);


--
-- Name: inventory_stockledger_from_bin_id_c34e931e; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX inventory_stockledger_from_bin_id_c34e931e ON public.inventory_stockledger USING btree (from_bin_id);


--
-- Name: inventory_stockledger_item_id_529f37d6; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX inventory_stockledger_item_id_529f37d6 ON public.inventory_stockledger USING btree (item_id);


--
-- Name: inventory_stockledger_to_bin_id_348a594d; Type: INDEX; Schema: public; Owner: appuser
--

CREATE INDEX inventory_stockledger_to_bin_id_348a594d ON public.inventory_stockledger USING btree (to_bin_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_bin inventory_bin_location_id_2921852b_fk_inventory_location_id; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_bin
    ADD CONSTRAINT inventory_bin_location_id_2921852b_fk_inventory_location_id FOREIGN KEY (location_id) REFERENCES public.inventory_location(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_inventory inventory_inventory_bin_id_f78d7256_fk_inventory_bin_id; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_inventory
    ADD CONSTRAINT inventory_inventory_bin_id_f78d7256_fk_inventory_bin_id FOREIGN KEY (bin_id) REFERENCES public.inventory_bin(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_inventory inventory_inventory_item_id_c77b66a4_fk_inventory_item_id; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_inventory
    ADD CONSTRAINT inventory_inventory_item_id_c77b66a4_fk_inventory_item_id FOREIGN KEY (item_id) REFERENCES public.inventory_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_itemalias inventory_itemalias_item_id_59d6fbfb_fk_inventory_item_id; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_itemalias
    ADD CONSTRAINT inventory_itemalias_item_id_59d6fbfb_fk_inventory_item_id FOREIGN KEY (item_id) REFERENCES public.inventory_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_reorderpolicy inventory_reorderpol_location_id_a031a229_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_reorderpolicy
    ADD CONSTRAINT inventory_reorderpol_location_id_a031a229_fk_inventory FOREIGN KEY (location_id) REFERENCES public.inventory_location(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_reorderpolicy inventory_reorderpolicy_item_id_820cc133_fk_inventory_item_id; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_reorderpolicy
    ADD CONSTRAINT inventory_reorderpolicy_item_id_820cc133_fk_inventory_item_id FOREIGN KEY (item_id) REFERENCES public.inventory_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stockledger inventory_stockledger_from_bin_id_c34e931e_fk_inventory_bin_id; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_stockledger
    ADD CONSTRAINT inventory_stockledger_from_bin_id_c34e931e_fk_inventory_bin_id FOREIGN KEY (from_bin_id) REFERENCES public.inventory_bin(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stockledger inventory_stockledger_item_id_529f37d6_fk_inventory_item_id; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_stockledger
    ADD CONSTRAINT inventory_stockledger_item_id_529f37d6_fk_inventory_item_id FOREIGN KEY (item_id) REFERENCES public.inventory_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stockledger inventory_stockledger_to_bin_id_348a594d_fk_inventory_bin_id; Type: FK CONSTRAINT; Schema: public; Owner: appuser
--

ALTER TABLE ONLY public.inventory_stockledger
    ADD CONSTRAINT inventory_stockledger_to_bin_id_348a594d_fk_inventory_bin_id FOREIGN KEY (to_bin_id) REFERENCES public.inventory_bin(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO readonly;


--
-- Name: TABLE auth_group; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.auth_group TO readonly;


--
-- Name: TABLE auth_group_permissions; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.auth_group_permissions TO readonly;


--
-- Name: TABLE auth_permission; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.auth_permission TO readonly;


--
-- Name: TABLE auth_user; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.auth_user TO readonly;


--
-- Name: TABLE auth_user_groups; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.auth_user_groups TO readonly;


--
-- Name: TABLE auth_user_user_permissions; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.auth_user_user_permissions TO readonly;


--
-- Name: TABLE django_admin_log; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.django_admin_log TO readonly;


--
-- Name: TABLE django_content_type; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.django_content_type TO readonly;


--
-- Name: TABLE django_migrations; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.django_migrations TO readonly;


--
-- Name: TABLE django_session; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.django_session TO readonly;


--
-- Name: TABLE inventory_bin; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.inventory_bin TO readonly;


--
-- Name: TABLE inventory_inventory; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.inventory_inventory TO readonly;


--
-- Name: TABLE inventory_item; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.inventory_item TO readonly;


--
-- Name: TABLE inventory_itemalias; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.inventory_itemalias TO readonly;


--
-- Name: TABLE inventory_location; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.inventory_location TO readonly;


--
-- Name: TABLE inventory_reorderpolicy; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.inventory_reorderpolicy TO readonly;


--
-- Name: TABLE inventory_stockledger; Type: ACL; Schema: public; Owner: appuser
--

GRANT SELECT ON TABLE public.inventory_stockledger TO readonly;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: appuser
--

ALTER DEFAULT PRIVILEGES FOR ROLE appuser IN SCHEMA public GRANT SELECT ON TABLES TO readonly;


--
-- PostgreSQL database dump complete
--

